<h1> Find a random number between the two numbers you put in below
</h1>

<form action="/random/results">
  <div>

    <label for="min">
      Minimum
    </label>

    <input id="min" type = "text" name="min">

  </div>

  <div>
    <label for="max">
      Maximum
    </label>

    <input id="max" type = "text" name="max">

  </div>

  <button> Pick random number
  </button>


</form>
